name: npm-publish
on:
  push:
    tags:
      - "*"
jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js 16.3.0
        uses: actions/setup-node@v2
        with:
          node-version: 16.3.0
      - run: yarn install
      - run: yarn build
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Validate Tag
        run: yarn semver $GITHUB_REF_SLUG
      - name: Update versions of packages
        run: yarn setupRelease $GITHUB_REF_SLUG
      - name: Publish packages
        run: npm publish --workspace=packages --dry-run
      - name: Update Release Notes
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: "## JavaScript SDK Release"
          allow_override: true
