name: npm-publish
on:
  push:
    tags:
      - "*"
jobs:
  npm-publish:
    name: npm-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js 16.3.0
        uses: actions/setup-node@v2
        with:
          node-version: 16.3.0
      - run: yarn install
      - run: yarn build
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Validate Tag
        run: yarn semver $GITHUB_REF_SLUG
      - name: Update versions of packages
        run: yarn setupRelease $GITHUB_REF_SLUG
      - name: Publish packages
        run: npm publish --workspace=packages
        env: 
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }} #
      - name: Install git-chglog
        uses: craicoverflow/install-git-chglog@v1
      - name: Generate changelog
        run: |
          git-chglog $(git describe --tags $(git rev-list --tags --max-count=1)) \
            -o RELEASE_NOTES.md 2> /dev/null || echo "**Prerelease**" > RELEASE_NOTES.md
          echo "CHANGELOG=`cat RELEASE_NOTES.md`" >> $GITHUB_ENV
      - name: Update Release Notes
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ env.CHANGELOG }}
          allow_override: true
